 table {
   border-collapse: separate;
   table-layout: fixed;
 }

 table td {
   border-collapse: collapse
 }

 .ExternalClass {
   width: 100%
 }

 .ExternalClass,
 .ExternalClass p,
 .ExternalClass span,
 .ExternalClass font,
 .ExternalClass td,
 .ExternalClass div {
   line-height: 100%
 }

 * {
   line-height: inherit;
   text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -o-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
 }

 html {
   -webkit-text-size-adjust: none !important
 }

 img+div {
   display: none;
   display: none !important
 }

 img {
   Margin: 0;
   padding: 0;
   -ms-interpolation-mode: bicubic
 }

 h1,
 h2,
 h3,
 p,
 a {
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   line-height: 1;
   color: inherit;
   background: none;
   overflow-wrap: normal;
   white-space: normal;
   word-break: break-word
 }

 a {
   color: inherit;
   text-decoration: none
 }

 h1,
 h2,
 h3,
 p {
   min-width: 100% !important;
   width: 100% !important;
   max-width: 100% !important;
   display: inline-block !important;
   border: 0;
   padding: 0;
   margin: 0
 }

 a[x-apple-data-detectors] {
   color: inherit !important;
   text-decoration: none !important;
   font-size: inherit !important;
   font-family: inherit !important;
   font-weight: inherit !important;
   line-height: inherit !important
 }

 a[href^="mailto"],
 a[href^="tel"],
 a[href^="sms"] {
   color: inherit !important;
   text-decoration: none !important
 }

 @media only screen and (min-width: 481px) {
   .hd {
     display: none !important
   }
 }

 @media only screen and (max-width: 480px) {
   .hm {
     display: none !important
   }
 }

 [style*="Albert Sans"] {
   font-family: 'Albert Sans', BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif !important;
 }

 @media only screen and (min-width: 481px) {
   .t3 {
     line-height: 72px !important;
     display: block !important
   }

   .t9 {
     padding-left: 50px !important;
     padding-bottom: 60px !important;
     padding-right: 50px !important
   }

   .t11 {
     padding-left: 50px !important;
     padding-bottom: 60px !important;
     padding-right: 50px !important;
     width: 500px !important
   }

   .t21 {
     line-height: 41px !important;
     font-size: 32px !important;
     letter-spacing: -1.56px !important;
   }

   .t54 {
     background-size: cover !important;
     border-top-left-radius: inherit !important;
     border-top-right-radius: unset !important
   }

   .t59 {
     border-top-left-radius: inherit !important;
     border-top-right-radius: unset !important;
     background-size: cover !important
   }
 }